---
name: prometheus

networks:
  prometheus:
    name: prometheus

services:
  prometheus:
    container_name: prometheus
    image: {{ prometheus_image_name }}:{{ prometheus_image_tag }}
    restart: unless-stopped
    user: {{ prometheus_uid }}:{{ prometheus_gid }}
    entrypoint:
      - prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yaml
      - --storage.tsdb.path=/var/lib/prometheus
      - --storage.tsdb.retention.time=30d
      #- --web.external-url=...
    networks:
      - prometheus
    ports:
      - {{ prometheus_port }}:9090
    volumes:
      - /etc/prometheus/:/etc/prometheus/:ro
      - /var/lib/prometheus:/var/lib/prometheus:rw
    logging:
      options:
        tag: "{{ "{{ .Name }}" }}"
        labels: stack
    labels:
      stack: prometheus
