---
# TODO: add some logic for eth0 vs eth1
{% for host in groups[job.value.ansible_group] %}
- targets:
  - {{ hostvars[host].ansible_eth1.ipv4.address }}:{{ job.value.port }}
  labels:
    nodename: {{ hostvars[host].ansible_fqdn }}
{% endfor %}
